@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansBold/OpenSans-Bold.eot");
  src: url("../fonts/OpenSansBold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSansBold/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/DosisMedium/Dosis-Medium.eot");
  src: url("../fonts/DosisMedium/Dosis-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DosisMedium/Dosis-Medium.woff") format("woff"), url("../fonts/DosisMedium/Dosis-Medium.woff2") format("woff2"), url("../fonts/DosisMedium/Dosis-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/DosisSemibold/Dosis-SemiBold.eot");
  src: url("../fonts/DosisSemibold/Dosis-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/DosisSemibold/Dosis-SemiBold.woff") format("woff"), url("../fonts/DosisSemibold/Dosis-SemiBold.woff2") format("woff2"), url("../fonts/DosisSemibold/Dosis-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.about__h2, .textRigth__title, .booking__h2 {
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.57em;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
}

.restaurant__h4, .menu__button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.85em;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #ffffff;
}

.restaurant__h1::after, .about__h2::after, .textRigth__title::after, .booking__h2::after {
  content: "";
  margin: 20px auto;
  display: block;
  background: #e8c300;
  border-radius: 50px;
  width: 60px;
  height: 5px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

@media (max-width: 1024px) {
  body {
    font-size: 12px;
  }
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.restaurant {
  margin: 0 auto;
  width: 100%;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.restaurant__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 25px 0 75px;
}

.restaurant__h4 {
  margin: 0 auto;
}

.restaurant__h1 {
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 0.85;
  font-size: 6.85em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 30px auto;
}

.restaurant__h1::after {
  margin: 30px auto;
}

@media (max-width: 1023px) {
  .restaurant__h1 {
    font-size: 4em;
  }
}

.restaurant__center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}

.restaurant__centerMain {
  margin: 0 auto;
}

.restaurant__schedule {
  width: 20%;
  position: relative;
}

@media (max-width: 980px) {
  .restaurant__schedule {
    display: none;
  }
}

.restaurant__schedule_media {
  display: none;
  margin-top: 0;
}

@media (max-width: 980px) {
  .restaurant__schedule_media {
    display: block;
  }
}

.restaurant__scheduleText {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.85em;
  line-height: 0.85em;
  text-align: center;
  color: #ffffff;
  transition: linear 0.5s;
  transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  left: -45%;
  white-space: nowrap;
}

.restaurant__scheduleText_media {
  margin: 0 auto 20px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  color: #ffffff;
}

.restaurant__btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.restaurant__btn {
  width: 17em;
  height: 5em;
  border-radius: 5px;
  margin: 10px;
  outline: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85em;
  font-weight: 700;
  cursor: pointer;
  transition: linear 0.3s;
}

.restaurant__btn:hover {
  text-shadow: 0 2px 15px #fff;
  box-shadow: 0 2px 15px #fff;
}

.restaurant__btn_yellow {
  border: solid 1px #e8c300;
  background: #e8c300;
}

.restaurant__btn_transparent {
  border: solid 1px #fff;
  background: transparent;
}

.restaurant__linkMore {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.43em;
  color: #333;
  transition: linear 0.3s;
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -20px;
}

.restaurant__linkMore:hover {
  text-shadow: 0 2px 15px #fff;
  box-shadow: 0 2px 15px #fff;
}

.header {
  width: 100%;
  background: transparent;
  margin: 0 auto;
}

.nav {
  margin: 0 auto;
}

.nav__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .nav__list {
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    place-items: center;
    z-index: 10;
  }
}

.nav__item {
  margin: 20px auto;
  min-width: 55px;
  text-align: center;
}

.nav__logo {
  min-height: 150px;
  min-width: 150px;
  transition: linear 6s;
}

.nav__logo:hover {
  transform: rotateZ(720deg);
}

@media (max-width: 700px) {
  .nav__logo {
    display: none;
  }
}

.nav__link {
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85em;
  text-transform: uppercase;
  transition: linear 0.2s;
}

.nav__link:hover {
  text-shadow: 0 2px 15px #fff;
  color: #e8c300;
}

@media (max-width: 700px) {
  .nav__link {
    font-size: 1.2em;
  }
}

.burger {
  margin: 0 auto;
  border: none;
  background: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  outline: none;
  display: none;
}

@media (max-width: 700px) {
  .burger {
    display: block;
  }
}

.close-btn {
  margin: 20px 0;
  border: none;
  background: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  outline: none;
  display: none;
}

@media (max-width: 700px) {
  .close-btn {
    display: block;
  }
}

.nav__list.open {
  display: grid;
  grid-template-columns: 1fr;
}

.burger.close {
  display: none;
}

.socials {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: flex-end;
}

.socials__circle {
  border: 1px solid #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.43em;
  transition: linear 0.2s;
}

.socials__circle:hover {
  transform: translateX(-10px);
  text-shadow: 0 0 15px #fff;
  box-shadow: 0 0 15px #fff;
}

@media (max-width: 980px) {
  .socials__circle:hover {
    transform: translateX(0);
  }
}

@media (max-width: 980px) {
  .socials__circle {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 980px) {
  .socials {
    display: none;
  }
}

.socials_media {
  display: none;
}

@media (max-width: 980px) {
  .socials_media {
    display: block;
    display: flex;
    justify-content: center;
    margin: 0 auto 50px;
  }
}

.about {
  margin: 0 auto;
  width: 100%;
  padding: 100px 5%;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 980px) {
  .about__content {
    flex-direction: column;
    justify-content: center;
  }
}

.about__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  max-width: 570px;
  margin: 0 auto;
}

@media (max-width: 980px) {
  .about__text {
    margin: 0 auto;
    width: 100%;
  }
}

.about__h2 {
  margin: 0 auto;
}

.about__h2::after {
  margin: 10px auto;
}

.about__p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #000000;
  font-weight: 400;
}

.about__p_first {
  font-weight: 700;
}

.about__p_second {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

.containerImageRight {
  width: 40%;
  height: 100%;
  max-width: 475px;
  max-height: 475px;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 980px) {
  .containerImageRight {
    width: 75%;
    margin-right: 25%;
  }
}

.containerImageRight__image_right {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  object-fit: cover;
  object-position: center;
}

.containerImageRight__square_right {
  width: 50%;
  height: 50%;
  border: 20px solid #e8c300;
  background: transparent;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  right: -25%;
  top: 25%;
}

@media (max-width: 1240px) {
  .containerImageRight__square_right {
    border: 17px solid #e8c300;
  }
}

@media (max-width: 980px) {
  .containerImageRight__square_right {
    border: 15px solid #e8c300;
  }
}

@media (max-width: 768px) {
  .containerImageRight__square_right {
    border: 12px solid #e8c300;
  }
}

.containerImageLeft {
  width: 40%;
  height: 100%;
  max-width: 475px;
  max-height: 475px;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 980px) {
  .containerImageLeft {
    width: 75%;
    margin-left: 25%;
  }
}

.containerImageLeft__image_left {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
  object-fit: cover;
  object-position: center;
}

.containerImageLeft__square_left {
  width: 50%;
  height: 50%;
  border: 20px solid #e8c300;
  background: transparent;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  left: -25%;
  top: 25%;
}

@media (max-width: 1240px) {
  .containerImageLeft__square_left {
    border: 17px solid #e8c300;
  }
}

@media (max-width: 980px) {
  .containerImageLeft__square_left {
    border: 15px solid #e8c300;
  }
}

@media (max-width: 768px) {
  .containerImageLeft__square_left {
    border: 12px solid #e8c300;
  }
}

.our,
.specialties {
  background: url(../img/our-bg.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 35px 5% 120px;
}

.our__wrap,
.specialties__wrap {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 980px) {
  .our__wrap,
  .specialties__wrap {
    flex-direction: column;
    justify-content: center;
  }
}

.our__title,
.specialties__title {
  margin-bottom: 35px;
}

.specialties {
  background: url(../img/special-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textRigth {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 40%;
  max-width: 570px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 980px) {
  .textRigth {
    width: 100%;
  }
}

.textRigth__title {
  margin: 0;
  color: #ffffff;
}

@media (max-width: 980px) {
  .textRigth__title {
    margin-top: 50px;
  }
}

.textRigth__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 2em;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin: 0 auto;
}

.textRigth__text2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.7em;
  color: rgba(255, 255, 255, 0.9);
  max-width: 600px;
  text-align: center;
  margin: 20px auto 0;
}

.booking {
  margin: 100px auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 980px) {
  .booking {
    margin: 0 auto;
  }
}

.booking__main {
  display: flex;
  justify-content: center;
  width: 90%;
}

@media (max-width: 980px) {
  .booking__main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
}

.booking__table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.booking__h2 {
  margin: 0 auto;
}

.booking__h2::after {
  margin: 10px auto;
}

.booking__table_grid {
  max-width: 550px;
  width: 100%;
  display: grid;
  margin: 10px auto;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .booking__table_grid {
    max-width: 95%;
  }
}

@media (max-width: 980px) {
  .booking__table_grid {
    max-width: 90%;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .booking__table_grid {
    max-width: 100%;
  }
}

.item__last {
  grid-column-start: 1;
  grid-column-end: 3;
}

.booking__table_options,
.booking__table_input {
  width: 270px;
  max-height: 60px;
  padding: 20px;
  background: #e5e5e5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.booking__table_options {
  background: #e5e5e5;
  border: 1px solid red;
}

input[type="phone"],
input[type="email"],
input[type="text"],
::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(51, 51, 51, 0.5);
}

.item__last input[type="submit"] {
  background-color: #e8c300;
  border: none;
}

#item__text_last {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
}

.item__last {
  background-color: #e8c300;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerImageRight {
  position: relative;
}

.containerImageRight__square_right {
  position: absolute;
}

.booking__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.booking__text {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  display: flex;
  color: rgba(51, 51, 51, 0.5);
}

.booking__number {
  font-weight: 700;
}

.delicious {
  max-height: 920px;
}

.delicious__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delicious__price {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  padding: 0 0 100px 0;
}

.menu__button {
  color: #000000;
  border: none;
  background: none;
  cursor: pointer;
  width: 120px;
  padding: 50px 0 50px 0;
}

.menu__button:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(51, 51, 51, 0.2);
  transform: rotate(90deg);
  margin-left: 25px;
  width: 50px;
}

.price__card {
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  height: 66px;
}

.card__discript {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5);
}

.events__body {
  background-image: url(../img/events-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 35px 5% 120px;
}

.events__wrap {
  display: flex;
}

@media (max-width: 980px) {
  .events__wrap {
    flex-direction: column;
    justify-content: center;
  }
}

.events__img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 700px) {
  .events__img {
    grid-template-columns: repeat(2, 1fr);
  }
}

.events__item {
  position: relative;
}

@media (max-width: 980px) {
  .events__item {
    margin-bottom: 30px;
  }
}

.events__block {
  position: absolute;
  background: #000000;
  width: 16%;
  height: 100%;
  top: 0;
  right: 0;
  color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events__block p {
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.71em;
  line-height: 0.8em;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(90deg);
  align-self: flex-start;
  margin-top: 52px;
}

.rigth {
  left: 0;
  padding: 0 0 57px 0;
}

.rigth p {
  transform: rotate(-90deg);
  align-self: flex-end;
  margin-bottom: 52px;
  white-space: nowrap;
}

.img__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
