@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansBold/OpenSans-Bold.eot");
  src: url("../fonts/OpenSansBold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSansBold/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/DosisMedium/Dosis-Medium.eot");
  src: url("../fonts/DosisMedium/Dosis-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DosisMedium/Dosis-Medium.woff") format("woff"), url("../fonts/DosisMedium/Dosis-Medium.woff2") format("woff2"), url("../fonts/DosisMedium/Dosis-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/DosisSemibold/Dosis-SemiBold.eot");
  src: url("../fonts/DosisSemibold/Dosis-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/DosisSemibold/Dosis-SemiBold.woff") format("woff"), url("../fonts/DosisSemibold/Dosis-SemiBold.woff2") format("woff2"), url("../fonts/DosisSemibold/Dosis-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.about__h2, .textRigth__title {
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.57em;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
}

.restaurant__h4 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.85em;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #ffffff;
}

.restaurant__h1::after, .about__h2::after, .textRigth__title::after {
  content: "";
  margin: 20px auto;
  display: block;
  background: #e8c300;
  border-radius: 50px;
  width: 60px;
  height: 5px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

@media (max-width: 1024px) {
  body {
    font-size: 12px;
  }
}

.restaurant {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100vh;
  width: 100%;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 25px 4%;
}

.restaurant__h4 {
  margin: 0 auto;
}

.restaurant__h1 {
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 0.85;
  font-size: 6.85em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 30px auto;
}

.restaurant__h1::after {
  margin: 30px auto;
}

@media (max-width: 1023px) {
  .restaurant__h1 {
    font-size: 4em;
  }
}

.restaurant__center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15vh;
}

@media (max-width: 980px) {
  .restaurant__center {
    margin-top: 5vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .restaurant__center {
    margin-top: 10vh;
  }
}

.restaurant__centerMain {
  margin: 0 auto;
}

.restaurant__schedule {
  width: 20%;
  position: relative;
}

@media (max-width: 980px) {
  .restaurant__schedule {
    display: none;
  }
}

.restaurant__schedule_media {
  display: none;
  margin-top: 0;
}

@media (max-width: 980px) {
  .restaurant__schedule_media {
    display: block;
  }
}

.restaurant__scheduleText {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.85em;
  line-height: 0.85em;
  text-align: center;
  color: #ffffff;
  transition: linear 0.5s;
  transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  left: -45%;
}

.restaurant__scheduleText_media {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  color: #ffffff;
}

.restaurant__btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.restaurant__btn {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  margin: 0 20px;
  outline: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85em;
  font-weight: 700;
  cursor: pointer;
  transition: linear 0.3s;
}

.restaurant__btn:hover {
  text-shadow: 0 2px 15px #fff;
  box-shadow: 0 2px 15px #fff;
}

.restaurant__btn_yellow {
  border: solid 1px #e8c300;
  background: #e8c300;
}

.restaurant__btn_transparent {
  border: solid 1px #fff;
  background: transparent;
}

.restaurant__linkMore {
  width: 40px;
  height: 40px;
  margin: 15vh auto 0;
  background: #fff;
  border-radius: 50%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.43;
  color: #333;
  transition: linear 0.3s;
}

.restaurant__linkMore:hover {
  text-shadow: 0 2px 15px #fff;
  box-shadow: 0 2px 15px #fff;
}

@media (max-width: 980px) {
  .restaurant__linkMore {
    margin-top: 8vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .restaurant__linkMore {
    margin-top: 5vh;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  background: transparent;
  margin: 0 auto;
}

.nav {
  margin: 0 auto;
}

.nav__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav__item {
  margin-top: 20px;
  min-width: 55px;
}

.nav__logo {
  min-height: 150px;
  min-width: 150px;
  transition: linear 6s;
}

.nav__logo:hover {
  transform: rotateZ(720deg);
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85em;
  text-transform: uppercase;
  transition: linear 0.2s;
}

.nav__link:hover {
  text-shadow: 0 2px 15px #fff;
  color: #e8c300;
}

.socials {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: flex-end;
}

.socials__circle {
  border: 1px solid #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.43em;
  transition: linear 0.2s;
}

.socials__circle:hover {
  transform: translateX(-10px);
  text-shadow: 0 0 15px #fff;
  box-shadow: 0 0 15px #fff;
}

@media (max-width: 980px) {
  .socials__circle:hover {
    transform: translateX(0);
  }
}

@media (max-width: 980px) {
  .socials__circle {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 980px) {
  .socials {
    display: none;
  }
}

.socials_media {
  display: none;
}

@media (max-width: 980px) {
  .socials_media {
    display: block;
    display: flex;
    justify-content: center;
    margin: 10vh auto 1vh;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .socials_media {
    margin-top: 5vh;
  }
}

.about {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 100px 80px;
}

.about__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 980px) {
  .about__content {
    flex-direction: column;
    justify-content: center;
  }
}

.about__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 600px;
  margin-right: 80px;
}

@media (max-width: 980px) {
  .about__text {
    margin: 0 auto;
    width: 100%;
  }
}

.about__h2 {
  margin: 0 auto;
}

.about__h2::after {
  margin: 10px auto;
}

.about__p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #000000;
  font-weight: 400;
}

.about__p_first {
  font-weight: 700;
}

.about__p_second {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

.about__image {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin-left: -50px;
}

@media (max-width: 980px) {
  .about__image {
    width: 100%;
  }
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  flex-grow: 1;
}

.square {
  width: 40%;
  height: 40%;
  border: 20px solid #e8c300;
  background: transparent;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  right: -11%;
  top: 29%;
}

.container2 {
  margin: 0 auto;
  max-width: 1440px;
}

.our__body {
  background: url(../img/our-bg.jpg);
  width: 100%;
}

.our__wrap {
  display: flex;
}

.our__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85em;
  line-height: 1em;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  padding: 40px 0 0 0;
}

.imgLeft {
  position: relative;
}

.imgLeft__img {
  margin: 45px 0px 100px 197px;
}

.imgLeft__block {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.textRigth {
  display: flex;
  flex-direction: column;
  width: 53%;
  justify-content: center;
}

.textRigth__title {
  color: #ffffff;
}

.textRigth__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 2em;
  color: rgba(255, 255, 255, 0.9);
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.textRigth__text2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.7em;
  color: rgba(255, 255, 255, 0.9);
  max-width: 600px;
  text-align: center;
  margin: 20px auto 0;
}
